/* vamos en orden general */
* {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: aliceblue;
    font-family: 'Sigmar', cursive;
    font-family: 'Ysabeau', sans-serif;
}

/* vamos en orden quienes somos*/
#quienes h1 {
    text-align: center;
}

/* vamos en orden cartas*/
#destacados h1 {
    text-align: center;
    padding: 30px;
}

/* vamos en orden contacto*/
.orden {
    margin-left: 30px;
    margin-right: 30px;
}

#contacto {
    padding: 40px;
}

#contacto h1 {
    text-align: center;
}

/* vamos en orden footer*/
#pie {
    padding: 20px;
}

#pie h2 {
    text-align: center;
    background-color: aqua
}

.iconos {
    text-align: center;
    background-color: aqua

}

footer a {
    background-color: aqua;
}

i {
  
    background-color: aqua;
}